@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Montserrat-Regular.ttf");
}
.contact-form-container {
    background: #e6e6e6;
}
.contact-form-wrap {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 0 80px;
}
.contact-form {
    width: 100%;
}
.relative-input {
    position: relative;
}
.contact-form-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 62px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 18px;
    color: #999999;
}
.input-wrap {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1rem;
}
.contact-form h4 {
    display: block;
    font-family: 'Oswald';
    font-size: 30px;
    color: #43383e;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 35px;
}
.contact-form input,
.contact-form textarea {
    outline: none;
    border: none;
}
input.contact-form-input {
    height: 60px;
    padding: 0 20px 0 60px;
}
textarea.contact-form-input {
    min-height: 200px;
    padding: 20px 20px 0 25px;
}
.contact-form-input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Oswald';
    font-size: 15px;
    color: #43383e;
    line-height: 1.2;
}
.contact-form-input:active,
.contact-form-input:focus {
    border: 1px solid green;
}
.contact-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    font-family: 'Oswald';
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: #E9A82B;
    border: none;
    margin: 0 auto;
    text-transform: uppercase;
}
.contact-form-button:hover,
.contact-form-button:active {
    background: #8AAB37;
}
.about-picture {
    text-align: center;
    margin: 40px 0;
}
.about-picture img {
    width: 200px;
    border-radius: 50%;
}
.about-title {
    text-align: center;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #43383e;
    margin: 60px 0 40px;
}
.about-text {
    max-width: 700px;
    margin: 0 auto;
}
.about-text p {
    text-align: center;
    margin: 40px 0;
    width: 100%;
    font-family: 'Montserrat';
    color: #43383e;
}