@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}
.category-container {
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: -10px;
    padding: 3% 6rem 5.83em;
}
.category-img-container {
    background-image: url(../assets/parang.jpg);
    background-size: cover;
}
.category-card {
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    border-radius: 0px;
    border-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.category-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.category-card img {
    padding: 20px;
}
.category-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}
.category-title-column {
    margin: auto;
}
label .category-title:after,
label .category-title:before {
     content: " \2219 ";
     display: block;
}
.card-list {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    width: 100%;
    color: grey;
}
.card-list-item {
    width: 100%;
    margin: auto;
    letter-spacing: 1.5px;
}
.card-list-item span {
    color: #E9A82B;
    font-size: smaller;
}
.card-list label {
    display: inline-flex;
}
.card-list label:not(:last-child):after {
    content: " \2219 ";
    padding: 10px;
}
.category-card a {
    text-decoration: none;
    color: black;
}

@media all and (max-width: 992px) {
    .category-container {
        padding: 3% 1.5rem 5.83em;
    }
}
@media all and (min-width: 768px) {
    .category-card img {
        width: 230px;
    }
    .card-title {
        margin-top: 50px;
        font-size: 25px;
    }
    .category-card .card-body {
        padding-left: 40px;
    }
    .category-img-container {
        height: 21.875em;
    }
    .category-header {
        padding-right: 0;
    }
}
@media all and (width: 768px) {
    .category-container {
        padding: 3% 3rem 5.83em;
    }
    .category-title-column {
        margin-right: -25%;
    }
}
@media all and (max-width: 768px) {
    .card-list {
        display: inline;
    }
    .card-list label {
        margin-bottom: 0;
    }
    .category-card .card-body {
        text-align: center;
        padding-top: 0;
    }
    .category-img-column,
    .category-img-container {
        display: none;
    }
    .category-title {
        margin: 5%;
    }
}
@media all and (max-width: 576px) {
    
}