@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}

header {
    background: linear-gradient(rgba(95, 95, 95, 0.5), rgba(141, 153, 174, 0.5)), url(../assets/headerpic.jpg) no-repeat right top;
    background-size: cover;
    height: 130px;
    width: 100%;
    z-index: 1;
}
.navbar-logo {
    padding-left: 2rem;
}
.navbar-logo img {
    width: 116px;
    margin-top: 16px;
}
.custom-nav .custom-nav-list .custom-nav-link {
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}
.custom-nav-list ul {
    margin-left: auto;
    margin-top: 30px;
}
.custom-nav .custom-nav-list .custom-nav-link:hover,
.custom-nav .custom-nav-list .custom-nav-link:active {
    color: #fff;
}

footer {
    background: linear-gradient(rgba(95, 95, 95, 0.5), rgba(141, 153, 174, 0.5)), url(../assets/footerpic.jpg) no-repeat right bottom;
    background-size: cover;
    min-height: 130px;
    width: 100%;
    z-index: 1;
}
.footer-logo img {
    margin: 37px 0 0 10px;
    width: 116px;
}
.footer-item {
    padding: 0px;
    margin: auto;
}
.footer-item a {
    text-decoration: none;
    font-family: 'Oswald';
    color: #fff;
    letter-spacing: 1.5px;
    z-index: 3;
}
.footer-copyrights {
    height: 20px;
    font-size: 11px;
    font-family: 'Oswald';
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.footer-copyrights p {
    margin: 0;
}

@media all and (max-width: 1200px){

}
@media all and (min-width: 769px) {
    .custom-nav-item {
        position: relative;
    }
    .custom-nav-item:hover a::after {
        height: 8px;
        width: 8px;
        opacity: 1;
        -webkit-transition: opacity 0.2s ease-out,height 0.3s cubic-bezier(0.73, 0.36, 0.39, 1.24),width 0.3s cubic-bezier(0.73, 0.36, 0.39, 4.34);
        transition: opacity 0.2s ease-out,height 0.3s cubic-bezier(0.73, 0.36, 0.39, 1.24),width 0.3s cubic-bezier(0.73, 0.36, 0.39, 4.34);
    }
    .custom-nav-item a::after {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        content: '';
        height: 0px;
        width: 10px;
        border-radius: 20px;
        background: #fff;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        -webkit-transition: opacity .2s linear, height .2s ease-in, width .2s ease-in;
        transition: opacity .2s linear, height .2s ease-in, width .2s ease-in;
    }
}
@media all and (max-width: 768px) {
    footer {
        height: 227px;
        text-align: center;
    }
    .footer-logo img {
        margin: 14px 0 17px;
    }
    .footer-copyrights {
        font-size: 9px;
        padding-top: 17px;
    }
    .mobile-nav-container {
        padding: 0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }
    .navbar-toggler.collapsed .cancelicon- {
        display: none;
    }
    .navbar-toggler:not(.collapsed) .menuicon- {
        display: none;
    }
    .toggle-icons {
        font-size: 30px;
        margin-top: 16px;
    }
    .custom-nav-list {
        padding: 1.5rem 2.5rem;
    }
    .custom-nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
    .custom-nav .custom-nav-list .custom-nav-link:active {
        background-color: rgba(25.9, 32.9, 34.9, 0.9);
        color: #fff;
        margin-left: -3rem;
        margin-right: -3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .custom-nav {
        padding-bottom: 20px;
        z-index: 4;
    }
    .nav-background {
        background-color: rgba(104, 118, 129, 0.9);
    }
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}
@media all and (max-width: 576px) {

}
