@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}

header {
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #000;
}
.mobile-nav-container {
    width: 100%;
}
nav .menuicon-,
nav .cancelicon-,
footer .instagramicon-,
footer .mailicon-,
footer .facebook-officialicon- {
    color: #fff;
}
.navbar-logo {
    padding-left: 2rem;
}
.navbar-logo img {
    width: 116px;
/*    margin-top: 16px;*/
}
.custom-nav {
    height: 100px;
}
.custom-nav .custom-nav-list .custom-nav-link {
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}
.custom-nav-list {
    margin: 0 -1rem;
}
.custom-nav-list ul {
    margin-left: auto;
}
.custom-nav .custom-nav-list .custom-nav-link:hover,
.custom-nav .custom-nav-list .custom-nav-link:active {
    color: #fff;
}

footer {
    background: linear-gradient(rgba(95, 95, 95, 0.5), rgba(141, 153, 174, 0.5)), url(../assets/footerpic.jpg) no-repeat right bottom;
    background-size: cover;
    min-height: 130px;
    width: 100%;
    z-index: 1;
}
.footer-logo img {
    margin: 37px 0 0 10px;
    width: 116px;
}
.footer-item {
    padding: 0px;
    margin: auto;
}
.footer-item a {
    text-decoration: none;
    font-family: 'Oswald';
    color: #fff;
    letter-spacing: 1.5px;
    z-index: 3;
    font-weight: 600;
}
.footer-item a div {
    padding: 0.5em;
    text-align: center;
}
.footer-copyrights {
    height: 20px;
    font-size: 11px;
    font-family: 'Oswald';
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.footer-copyrights p {
    margin: 0;
}
.footer-container {
    max-width: 100%;
    margin: 0 auto;
}
.feedback-container {
    padding: 0 2rem 6rem;
    text-align: center;
}
.feedback-title {
    text-align: center;
}
.comment-picture .usericon- {
    color: white;
    background: darkgrey;
    padding: 0.6em 0.1em;
    border-radius: 50%;
}
.comment-picture .usericon-::before {
    font-size: 3em;
}
.comment-body {
    display: inline-flex;
    background: #f5fafa;
    padding: 1rem;
    width: 60%;
    text-align: left;
}
.comment-text-wrap {
    padding-left: 1rem;
}
.comment-text {
    font-style: italic;
}
.comment-date {
    color: gray;
}
.reply-button button{
    background: #E9A82B;
    border: 1px solid #E9A82B;
    color: #fff;
}
.reply-button button:hover,
.reply-button button:active {
    background: #8AAB37;
    border: 1px solid #8AAB37;
}
form { 
    max-width: 420px; 
    margin: 15px auto 50px; 
}
.comment-input {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid lightgrey;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}
.comment-input:focus { 
    border:2px solid green; 
}
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
.comment-button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #E9A82B;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
.comment-button:hover { 
    background: #8AAB37; 
}
.saveoffline-button {
    margin-top: 10px !important;
}
.comment-form-intro {
    max-width: 420px;
    margin: 15px auto;
    font-family: 'Montserrat';
}
.comment-form-intro p {
    margin-bottom: 0;
}
@media all and (max-width: 1200px){

}
@media all and (min-width: 768px) {
    .custom-nav-item {
        position: relative;
    }
    .custom-nav-item:hover a::after {
        height: 8px;
        width: 8px;
        opacity: 1;
        -webkit-transition: opacity 0.2s ease-out,height 0.3s cubic-bezier(0.73, 0.36, 0.39, 1.24),width 0.3s cubic-bezier(0.73, 0.36, 0.39, 4.34);
        transition: opacity 0.2s ease-out,height 0.3s cubic-bezier(0.73, 0.36, 0.39, 1.24),width 0.3s cubic-bezier(0.73, 0.36, 0.39, 4.34);
    }
    .custom-nav-item a::after {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        content: '';
        height: 0px;
        width: 10px;
        border-radius: 20px;
        background: #fff;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        -webkit-transition: opacity .2s linear, height .2s ease-in, width .2s ease-in;
        transition: opacity .2s linear, height .2s ease-in, width .2s ease-in;
    }
}
@media all and (max-width: 767px) {
    footer {
        height: 18.125em;
        text-align: center;
    }
    .footer-logo img {
        margin: 14px 0 17px;
    }
    .footer-copyrights {
        font-size: 9px;
        padding-top: 17px;
    }
    .mobile-nav-container {
        padding: 0;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }
    .navbar-toggler.collapsed .cancelicon- {
        display: none;
    }
    .navbar-toggler:not(.collapsed) .menuicon- {
        display: none;
    }
    .toggle-icons {
        font-size: 30px;
        margin-top: 16px;
    }
    .custom-nav-list {
        padding: 1.5rem 2.5rem;
    }
    .custom-nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
    .custom-nav .custom-nav-list .custom-nav-link:active {
        background-color: rgba(25.9, 32.9, 34.9, 0.9);
        color: #fff;
        margin-left: -3.5rem;
        margin-right: -3.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .custom-nav {
        padding-bottom: 20px;
        z-index: 4;
    }
    .nav-background {
        background-color: rgba(104, 118, 129, 1);
    }
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
    .custom-nav-item:hover a::after {
        display: none;
    }
    .custom-nav-item a::after {
        display: none;
    }
    .comment-body {
        width: 100%;
    }
}

