@font-face {
  font-family: 'fontello';
  src: url('../webfonts/fontello.ttf?11160730') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56359639#fontello') format('svg');
  }
}
*/
 
 [class$="icon-"]:before, [class*="icon- "]:before,
 [class$="icon-"]:after, [class*="icon- "]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.instagramicon-:after { content: '\21'; } /* '!' */
.facebook-officialicon-:after { content: '\22'; } /* '&quot;' */
.rulericon-:before { content: '\23'; } /* '#' */
.cancelicon-:before { content: '\24'; } /* '$' */
.menuicon-:before { content: '\25'; } /* '%' */
.commenting-oicon-:before { content: '\26'; } /* '&amp;' */
.commenticon-:before { content: '\27'; } /* ''' */
.hourglassicon-:before { content: '\28'; } /* '(' */
.clockicon-:before { content: '\29'; } /* ')' */
.chart-areaicon-:before { content: '\2a'; } /* '*' */
.shareicon-:before { content: '\2b'; } /* '+' */
.floppyicon-:before { content: '\2c'; } /* ',' */
.locationicon-:before { content: '\2d'; } /* '-' */
.progress-2icon-:before { content: '\2e'; } /* '.' */
.quote-lefticon-:before { content: '\2f'; } /* '/' */
.quote-righticon-:before { content: '\30'; } /* '0' */
.usericon-:before { content: '\31'; } /* '1' */
.user-oicon-:before { content: '\32'; } /* '2' */
.mail-1icon-:after { content: '\33'; } /* '3' */
.map-pinicon-:before { content: '\34'; } /* '4' */
.map-signsicon-:before { content: '\35'; } /* '5' */
.flagicon-:before { content: '\36'; } /* '6' */
.addressicon-:before { content: '\37'; } /* '7' */
.directionicon-:before { content: '\38'; } /* '8' */
.embassyicon-:before { content: '\39'; } /* '9' */
.down-bigicon-:before { content: '\3a'; } /* ':' */
.downicon-:before { content: '\3b'; } /* ';' */
.down-1icon-:before { content: '\3c'; } /* '&lt;' */
.down-2icon-:before { content: '\3d'; } /* '=' */
.down-3icon-:before { content: '\3e'; } /* '&gt;' */
.mailicon-:after { content: '\e800'; } /* '' */
.attentionicon-:before { content: '\e801'; } /* '' */
.attention-alticon-:before { content: '\f12a'; } /* '' */
.inmailicon-:before { content: '\e800'; } /* '' */