@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/NunitoSans-Regular.ttf");
}
.mobile-nav-container,
.main-container,
.secondary-container,
.footer-container {
    max-width: 1700px;
}
.article-img-container img {
    width: 100%;
}
.article-sidebar-item img {
    width: 30%;
    margin: 0 20px 0 0;
}
.article-sidebar-item {
    margin-bottom: 20px;
    font-family: 'Montserrat';
}
.article-sidebar-item a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    position: relative;
}
.article-sidebar-item p {
    margin-bottom: 0;
}
.article-sidebar-item button {
    position: absolute;
    top: 0;
    right: 0;
    background: #E9A82B;
    color: #fff;
    border: 1px solid #E9A82B;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
}
.article-sidebar-item button:hover,
.article-sidebar-item button:active {
    background: #8AAB37;
    border: 1px solid #8AAB37;
}
.article-container {
    padding: 4rem 1rem 4rem 6rem;
    font-family: 'Montserrat';
}
.article-sidebar-container {
    padding-top: 7.2rem;
}
.article-text-container {
    padding-top: 1rem;
    color: gray;
}
.article-text-container h3 {
    font-weight: bold;
    padding: 15px 0;
}
.tags a {
    display: inline-flex;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: grey;
}
.tags a:hover, 
.tags a:active {
     border: 1px solid black;
}
.feedback-title {
    text-align: center;
}
.trail-social {
    text-align: left;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    color: #3f3f3f;
    text-transform: uppercase;
    cursor: pointer;
}
.trail-social a {
    text-decoration: none;
    color: #000;
}
.trail-social a:hover {
    color: #E9A82B;
}
.social-button {
    width: 30%;
    background: #E9A82B;
    text-decoration: none;
    padding: 0.3em;
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
}
.social-button-wrap a {
    text-decoration: none;
}
.social-button:hover,
.social-button:active,
.social-button:focus {
    background: #8AAB37;
}

@media all and (max-width: 1114px) {
    .article-sidebar-item a {
        display: inline-block;
        position: relative;
    }
    .article-sidebar-item button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media all and (max-width: 767px) {
    .feedback-container {
        padding: 10px;
    }
    .trail-social {
        display: block;
    }
    .article-container {
        padding: 10px;
    }
    .article-sidebar-container {
        padding: 0;
    }
    .article-text-container h3 {
        padding: 0;
    }
     .article-title {
        font-size: 35px;
    }
    .article-sidebar-item {
        width: 33.33%;
    }
    .article-sidebar-item a {
        display: block;
        padding: 10px;
    }
    .article-sidebar-item img {
        width: 100%;
    }
    .article-sidebar-item-wrap {
        display: inline-flex;
    }
    form {
        max-width: 100%;
    }
    .comment-body {
        width: 100%;
        margin: 1rem 0;
    }
}
@media all and (max-width: 576px) {
    .article-title {
        font-size: 25px;
    }
    .article-sidebar-item {
        width: 100%;
    }
    .article-sidebar-item a {
        display: inline-flex;
        padding: 10px;
    }
    .article-sidebar-item-wrap {
        display: block;
    }
    .article-sidebar-item img {
        width: 30%;
    }
}