@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Montserrat-Regular.ttf");
}
ul.breadcrumb-menu {
    padding: 10px 5rem;
    list-style: none;
    background-color: transparent;
}
.breadcrumb-menu li {
    display: inline;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 12px;
    color: lightgrey;
    letter-spacing: 1.5px;
}
.breadcrumb-menu li+li:before {
    padding: 8px;
    color: black;
    content: ' \003E';
}
.breadcrumb-menu li a {
    color: #000;
    text-decoration: none;
    color: green;
}
.breadcrumb-menu li a:hover {
    text-decoration: underline;
}
.trail-title {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Oswald';
}
.trail-name {
    color: #3f3f3f;
}
.range-name {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #939393;
}
.trail-intro {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #f5fafa;
}
.trail-summary {
    padding: 50px 1rem;
    color: #3f3f3f;
    font-family: 'Oswald';
}
.trail-start {
    padding-top: 50px;
    font-family: 'Montserrat';
}
.trail-start h5 {
    padding-bottom: 20px;
}
.trail-stage-description {
    padding-top: 25px;
    font-family: 'Montserrat';
}
.trail-stage {
    display: inline-flex;
    padding: 10px 0 10px 0;
}
.trail-stage img {
    height: 20px;
    width: 20px;
    color: #fff;
    border: 1px solid #000;
    margin-right: 5px;
}
.trail-stage p {
    margin-bottom: 0;
}
.trail-features p {
    margin-bottom: 0;
    font-family: 'Oswald';
    color: #939393;
}
.trail-features span,
.trail-features span a {
    color: #E9A82B;
    text-decoration: none;
}
.trail-features {
    padding-right: 0;
    text-align: center;
}
.trail-features-wrapper {
    display: inline-flex;
}
.trail-features p:nth-child(2) {
    margin-left: auto;
    width: 100%;
}
.trail-intro-pic {
    margin: auto;
}
.trail-intro-pic img {
    width: 100%;
}
.trail-info-item {
    padding: 10px;
}
.trail-info-item a::after {
    content: ' \25BC';
    font-size: 11px;
}
.trail-directions {
    padding: 0px 6rem;
}
.trail-map {
    background: lightgrey;
    height: 400px;
    position: relative;
}
.map-legend {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: darkgrey;
    width: 100%;
}
.trailhead p, 
.coordinates p {
    margin-bottom: 0;
}
.coordinates {
    padding-left: 20px;
}
.trail-text {
    padding-top: 20px;
}
.trail-description-container {
    padding: 0px 6rem;
    background-color: #f5fafa;
}
.trail-description-container-2 {
    padding: 50px 6rem 0;
    font-family: 'Montserrat';
}
.trail-description-img {
    margin: auto;
}
.trail-description-img img {
    width: 100%;
}
.weather-container {
}
.weather-forecast {
    display: inline-flex;
}
.weather-data-header {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    color: #3f3f3f;
    margin-left: auto;
    position: absolute;
    right: 50%;
}
.weather-data-header h4 {
    font-size: 12px;
}
.weather-data {
    width: 50%;
    height: 32px;
    background-color: lightgrey;
    margin-left: auto;
    position: relative;
}
.tips-thumbnail-container {
    padding: 20px 20rem 0 6rem;
}
.tips-thumbnail-header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    color: #3f3f3f;
}
.tips-thumbnail {
     background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%), url(../assets/parang.jpg) no-repeat center;
     background-size: cover;
     margin-bottom: 30px;
     min-height: 200px;
     padding: 20px;
     position: relative;
}
.tips-thumbnail a {
     text-decoration: none;
     color: #fff;
     position: absolute;
     bottom: 0;
     left: 20px;
     font-family: 'Montserrat';
}
.tips-thumbnail a p:nth-child(2) {
     color: lightgrey;
}
.feedback-container {
    padding: 0 20rem 0 6rem;
}
.feedback-title {
    text-align: center;
}
.trail-social {
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    color: #3f3f3f;
    text-transform: uppercase;
}
.trail-social a {
    text-decoration: none;
    color: #000;
    padding: 0 20px;
}
.trail-social a:hover {
    color: #E9A82B;
}
form { 
     max-width: 420px; 
     margin: 15px auto 50px; 
}
.comment-input {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid lightgrey;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
.comment-input:focus { 
    border:2px solid green; 
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.comment-button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #E9A82B;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.comment-button:hover { 
    background: #8AAB37; 
}
@media all and (max-width: 1050px) {
    .tips-thumbnail-container {
        padding-right: 16rem;
    }
}
@media all and (max-width: 992px) {
    ul.breadcrumb-menu {
        padding: 10px 0 0 3rem;
    }
    .trail-intro {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .trail-description-container,
    .trail-description-container-2 {
        padding: 0 3rem;
    }
    .tips-thumbnail-container {
        padding: 1rem;
    }
    .feedback-container {
        padding: 0;
    }
    .map-legend {
        font-size: 11px;
    }
    .coordinates {
        padding-left: 10px;
    }
}
@media all and (max-width: 767px) {
    .breadcrumb-weather-container {
        padding-bottom: 30px;
    }
    .weather-data-header {
        text-align: left;
        left: 1rem;
    }
    .weather-data {
        margin-right: auto;
        margin-left: 3rem;
    }
    ul.breadcrumb-menu {
        padding: 0;
    }
    .trail-name {
        font-size: 20px;
    }
    .range-name {
        font-size: 18px;
    }
    .trail-intro {
        padding: 0 1rem;
    }
    .trail-summary {
        padding-top: 1rem;
    }
    .trail-features {
        padding: 0 1rem;
        text-align: center;
    }
    .trail-directions {
        padding: 1rem 1rem 0;
    }
    .trail-map {
        height: 200px;
    }
    .map-legend {
        font-size: 14px;
    }
    .trail-start {
        padding-top: 0;
    }
    .trail-description-container {
        padding: 0 1rem;
    }
    .trail-description-container-2 {
        padding: 1rem 1rem 0;
    }
    .weather-container {
        padding: 0 1rem;
    }
    .tips-thumbnail-container {
        padding: 1rem 1rem 0;
    }
    .feedback-container {
        padding: 1rem 1rem 0;
    }
    .trail-social {
        display: inline-grid;
        text-align: left;
    }
}
@media all and (max-width: 578px) {
    .trail-features-wrapper {
        display: block;
    }
    .weather-data {
        width: 80%;
    }
}
