@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url("../webfonts/Montserrat-Regular.ttf");
}
ul.breadcrumb-menu {
    padding: 10px 5rem;
    list-style: none;
    background-color: transparent;
}
.breadcrumb-menu li {
    display: inline;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 12px;
    color: lightgrey;
    letter-spacing: 1.5px;
}
.breadcrumb-menu li+li:before {
    padding: 8px;
    color: black;
    content: ' \003E';
}
.breadcrumb-menu li a {
    color: #000;
    text-decoration: none;
    color: green;
}
.breadcrumb-menu li a:hover {
    text-decoration: underline;
}
.trail-title {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Oswald';
}
.trail-name {
    color: #3f3f3f;
}
.range-name {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #939393;
}
.trail-intro {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #f5fafa;
}
.trail-start {
    padding-top: 50px;
    font-family: 'Montserrat';
}
.trail-start h5 {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.trail-stage-description {
    padding:  1.875em 0;
    font-family: 'Montserrat';
    margin: 0 auto;
}
.trail-stage-description h5 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 1.5em;
    border-bottom: 1px solid lightgrey;
}
.trail-stage {
    display: inline-flex;
    padding: 10px 0 10px 0;
}
.trail-stage img {
    height: 20px;
    width: 20px;
    color: #fff;
    border: 1px solid #000;
    margin-right: 5px;
}
.trail-stage p {
    margin-bottom: 0;
    font-weight: 600;
}
.trail-features p {
    margin-bottom: 0;
    font-family: 'Oswald';
    color: #939393;
}
.trail-features span,
.trail-features span a {
    color: #E9A82B;
    text-decoration: none;
}
.trail-features {
    text-align: center;
}
.trail-features-wrapper {
    display: inline-flex;
}
.trail-features p:nth-child(2) {
    margin-left: auto;
    width: 100%;
}
.trail-intro-pic {
    text-align: center;
}
.trail-intro-pic img {
    width: 66%;
}
.trail-info-item {
    padding: 10px;
}
.trail-info-item a::after {
    content: ' \25BC';
    font-size: 11px;
}
.trail-directions {
    padding: 2rem 6rem;
}
.trail-map {
    background: lightgrey;
    height: 100%;
    position: relative;
}
.map-legend {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: darkgrey;
    width: 100%;
}
.trailhead p, 
.coordinates p {
    margin-bottom: 0;
}
.coordinates {
    padding-left: 20px;
}
.trail-text {
    padding-top: 20px;
}
.trail-description-container {
    padding: 0px 6rem;
    background-color: #f5fafa;
}
.trail-description-container-2 {
    padding: 50px 6rem 0;
    font-family: 'Montserrat';
}
.trail-description-img {
    margin: auto;
}
.trail-description-img img {
    width: 100%;
}
.weather-container {
    margin: 1em 0 0 0;
}
.weather-data-header {
    padding-left: 6rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.weather-data {
    height: 3em;
    background: #939393;
    margin: 0 5rem 1rem;
}
.tips-thumbnail-container {
    padding: 2rem 6rem;
}
.tips-thumbnail-header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    letter-spacing: 1.5px;
    color: #3f3f3f;
}
.tips-thumbnail {
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%), url(../assets/parang.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
    min-height: 200px;
    padding: 20px;
    position: relative;
}
.tips-thumbnail a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-family: 'Montserrat';
}
.tips-thumbnail a p:nth-child(2) {
    color: lightgrey;
}
.carousel-cell {
    width: 33.33%;
    height: 200px;
    margin-right: 10px;
}

.trail-social {
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 1.5px;
    color: #3f3f3f;
    text-transform: uppercase;
    padding: 0 5rem;
}
.trail-social a {
    text-decoration: none;
}
.social-button {
    width: 100%;
    background: #E9A82B;
    text-decoration: none;
    color: #fff;
    padding: 0.3em;
    font-size: 1.5em;
}
.social-button:hover,
.social-button:active,
.social-button:focus {
    background: #8AAB37;
}
.save-map {
    margin-top: 4.0625em;
}
.save-map h6 {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.save-map-buttons {
    display: inline-flex;
    width: 100%;
    font-family: 'Oswald';
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.save-map-buttons a {
    width: 50%;
    text-decoration: none;
    color: #fff;
    background: #E9A82B;
    margin: 0 0.3em;
    padding: 0.5em;
}
.save-map-buttons a:hover, 
.save-map-buttons a:focus,
.save-map-buttons a:active {
    background: #8AAB37;
}
.alert-container {
    padding: 1rem 6rem;
    text-align: center;
}
.flickity-page-dots {
    display: none;
}
.custom-alerts {
    width: 100%;
}
.alert-item {
    display: inline-flex;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.7em 0;
    font-family: 'Montserrat';
    font-weight: 600;
}
.alert-item p {
    margin: auto 0;
    padding-left: 3em;
    text-align: left;
}
.alert-img {
    margin: -1em;
}
.bear-alert {
    background: #FFBABA;
    color: #D8000C;
}
.bear-alert-img {
    background: url(../assets/triangle-bear.svg) top left no-repeat;
    background-size: cover;
}
.snake-alert {
    background: #DFF2BF;
    color: #270;
}
.snake-alert-img {
    background: url(../assets/triangle-snake.svg) top left no-repeat;
    background-size: cover;
}
.dog-alert {
    background: #FEEFB3;
    color: #9F6000;
}
.dog-alert-img {
    background: url(../assets/triangle-dog.svg) top left no-repeat;
    background-size: cover;
}
.water-alert {
    background: #BEF;
    color: #059;
}
.water-alert-img {
    background: url(../assets/triangle-water.svg) top left no-repeat;
    background-size: cover;
}
.season-alert {
    background: #FFF8E1;
    color: #FF6F00;
}
.season-alert-img {
    background: url(../assets/triangle-snowflake.svg) top left no-repeat;
    background-size: cover;
}
.bear-alert-img,
.snake-alert-img,
.dog-alert-img,
.water-alert-img,
.season-alert-img {
    width: 4em;
    height: 4em;
}
@media all and (max-width: 992px) {
    ul.breadcrumb-menu {
        padding: 10px 0 0 3rem;
    }
    .trail-intro {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .trail-description-container,
    .trail-description-container-2 {
        padding: 0 3rem;
    }
    .tips-thumbnail-container {
        padding: 1rem;
    }
    .feedback-container {
        padding: 0;
    }
    .map-legend {
        font-size: 11px;
    }
    .coordinates {
        padding-left: 10px;
    }
}
@media all and (max-width: 767px) {
        .breadcrumb-weather-container {
            padding-bottom: 30px;
        }
        .weather-data-header {
            text-align: left;
            padding-left: 1rem;
        }
        .weather-data {
            margin: 0;
        }
        ul.breadcrumb-menu {
            padding: 0;
        }
        .trail-name {
            font-size: 20px;
        }
        .range-name {
            font-size: 18px;
        }
        .trail-intro {
            padding: 0;
            margin: auto;
            background: transparent;
        }
        .trail-intro-pic img {
            width: 100%;
            overflow: hidden;
        }
        .trail-features {
            padding: 0 1rem;
            text-align: center;
        }
        .trail-features-wrapper {
            display: block;
        }
        .trail-features-item {
            padding: 10px 0;
        }
        .trail-directions {
            padding: 1rem 1rem 0;
        }
        .trail-map {
            height: 200px;
        }
        .map-legend {
            font-size: 14px;
        }
        .trail-start {
            padding-top: 0;
        }
        .trail-description-container {
            padding: 0 1rem;
        }
        .trail-description-container-2 {
            padding: 1rem 1rem 0;
        }
        .weather-container {
            padding: 1rem;
        }
        .alert-container {
            padding: 0 1rem;
        }
        .tips-thumbnail-container {
            padding: 1rem 1rem 0;
        }
        .feedback-container {
            padding: 1rem 1rem 0;
        }
        .trail-social {
            padding: 0 1rem;
        }
        .map-container {
            padding: 0;
        }
        .save-map {
            margin: 0 0 1em;
        }
        .alert-item p {
            font-size: smaller;
            padding-left: 1.5em;
        }
        .carousel-cell {
            width: 50%;
        }
    }
    @media all and (max-width: 578px) {
        .trail-features-wrapper {
            display: block;
        }
        .trail-social {
            padding: 0;
        }
        .social-button {
            margin-top: 0.3em;
        }
        .trail-intro-pic {
            margin-right: 0;
        }
        .carousel-cell {
            width: 100%;
        }
    }
